body {
    background-color: #BF8B78;
    margin: 0 10%;
    font-family: "Open-sans";
    text-align: center;
    font-size: 1em;
    margin: 0 15% 0;
    background: #BF8B78 
  repeat center 1px fixed;
  }
a {
    text-decoration: none;
  }
  a:link {
      color: #F2E0D0;
  }
  a:visited { 
      color: #F2E0D0;
  }
  a:hover {
      color: #BF8B78;
      background-color: #fff;
  }
  a:focus {
      color: #BF8B78;
      background-color: #fff;
  }
  a:active {
      color: #BF8B78;
      background-color: white
  }
  

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }


header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
    border-top: #594B3F;
    background: #594B3F;
   background-color:#594B3F;
   height: 100px; 
   background-image: url(images/catcoffee.png); 
   background-repeat: no-repeat;
   background-size: 10em;
   background-position: 65% 110%;
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: left;
    color:#F2E0D0;
    background-color: #333;
  }

h1 { 
    text-align: center;
    font-family: "Open-Sans";
    font-weight: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 30px;
    color:#F2E0D0;
}
h2 {
    font-size: 2em;
    text-align: center;
    color:#F2E0D0
}
h3 {
    font-size: 2em;
    text-align: center;
    background-image: url(images/catdoodles.png); 
    background-color:#594B3F;
    background-size: 12em;
    background-position: center;
    color:#000000
}
h4 {
    font-family:"Open-sans";
    font-size: 25px;
    text-align: center;
    color:#F2E0D0
}
hr {
    height:5px;
    border-width:0;
    background-color:#594B3F;
  }
.fieldset {
    color:#BF8B78;
    font-family: "Open-Sans"
}
.legend {
    color:#BF8B78;
    font-family: "Open-Sans"
}
  div {
    border-radius: 10%;
    margin-right: auto;
    float: center;
    margin: 10px;
    background-color:#8C5346;
    width: 300px;
    text-align: center;
    border: 15px solid #8C5346;
    position: relative;
    padding: 10px;
    color:#F2E0D0;
    font-size:20px;
  }
footer {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    border-top: 2px solid #F2E0D0;
  }